openapi: 3.0.3
info:
  title: Meltwater Account Management Explore+ Search API
  description: The Meltwater Public API
  contact:
    name: Meltwater Support
    url: https://developer.meltwater.com/
    email: support@api.meltwater.com
  version: '1.0'
servers:
- url: https://api.meltwater.com
security:
- apikey: []
tags:
- name: Explore+ Search
  description: Export earned documents from your private index.
  parent: Explore+
paths:
  /v3/explore_plus/search:
    post:
      tags:
      - Explore+ Search
      summary: Search for data in your private index.
      description: Search for data in your private index.
      parameters:
      - name: workspace_id
        in: query
        description: Set the workspace to search by. If accessing the company space, set to `none`
        required: true
        schema:
          type: string
      - name: company_id
        in: query
        description: Set the company to search by
        schema:
          type: string
      requestBody:
        description: Search Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/explore_plus.ExplorePlusParameters'
            examples:
              Search with Searches:
                summary: Search for documents using saved searches
                value:
                  searches:
                    all:
                    - 123
                    any:
                    - 456
                    none:
                    - 789
                  filters:
                    countries:
                      all:
                      - gb
                  start: '2025-01-01T00:00:00'
                  end: '2025-01-01T00:00:00'
                  page: 1
                  page_size: 10
                  sort_by: date
                  sort_order: desc
                  tz: UTC
                  template:
                    name: api.json
              Search with Document IDs:
                summary: Search for documents with document IDs
                value:
                  doc_ids:
                  - document1
                  - document2
                  page: 1
                  page_size: 10
                  sort_by: date
                  sort_order: desc
                  tz: UTC
                  template:
                    name: api.json
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/explore_plus.Response'
              examples:
                Search with Searches:
                  summary: Search for documents with saved searches
                  value:
                    documents:
                    - id: document1
                      opening_text: this is a document
                    count: 1
                Search with Document IDs:
                  summary: Search for documents with document IDs
                  value:
                    documents:
                    - id: document1
                      opening_text: this is a document
                    - id: document2
                      opening_test: this is also a document
                    count: 1
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.APIValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.APIError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.APIError'
      security:
      - apikey: []
components:
  schemas:
    explore_plus.Filters:
      type: object
      properties:
        countries:
          $ref: '#/components/schemas/explore_plus.StringBreakdown'
        custom_fields:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/explore_plus.IntBreakdown'
        languages:
          $ref: '#/components/schemas/explore_plus.StringBreakdown'
        sentiments:
          $ref: '#/components/schemas/explore_plus.SentimentBreakdown'
        sources:
          $ref: '#/components/schemas/explore_plus.StringBreakdown'
    controllers.APIError:
      type: object
      properties:
        message:
          type: string
    explore_plus.Template:
      type: object
      properties:
        name:
          type: string
          example: api.json
    explore_plus.SentimentBreakdown:
      type: object
      properties:
        all:
          type: array
          example:
          - positive
          - negative
          items:
            type: string
        any:
          type: array
          example:
          - positive
          - negative
          items:
            type: string
        none:
          type: array
          example:
          - positive
          - negative
          items:
            type: string
    explore_plus.Response:
      type: object
      properties:
        count:
          type: integer
        documents:
          type: array
          items:
            type: object
    controllers.APIValidationError:
      type: object
      properties:
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
        message:
          type: string
    explore_plus.StringBreakdown:
      type: object
      properties:
        all:
          type: array
          example:
          - abc
          - def
          items:
            type: string
        any:
          type: array
          example:
          - abc
          - def
          items:
            type: string
        none:
          type: array
          example:
          - abc
          - def
          items:
            type: string
    explore_plus.ExplorePlusParameters:
      required:
      - tz
      type: object
      properties:
        doc_ids:
          type: array
          example:
          - document1
          - document2
          items:
            type: string
        end:
          type: string
          example: '2021-09-28T00:00:00'
        filters:
          $ref: '#/components/schemas/explore_plus.Filters'
        page:
          type: integer
          example: 1
        page_size:
          maximum: 1000
          minimum: 0
          type: integer
          example: 10
        searches:
          $ref: '#/components/schemas/explore_plus.IntBreakdown'
        sort_by:
          type: string
          example: date
          enum:
          - date
          - reach
          - engagement
          - social_echo
          - relevance
          - prominence
          - views
        sort_order:
          type: string
          example: desc
          enum:
          - asc
          - desc
        start:
          type: string
          example: '2021-09-27T00:00:00'
        template:
          $ref: '#/components/schemas/explore_plus.Template'
        tz:
          type: string
          example: Europe/London
    explore_plus.IntBreakdown:
      type: object
      properties:
        all:
          type: array
          example:
          - 123
          - 456
          items:
            type: integer
        any:
          type: array
          example:
          - 123
          - 456
          items:
            type: integer
        none:
          type: array
          example:
          - 123
          - 456
          items:
            type: integer
  securitySchemes:
    apikey:
      type: apiKey
      name: apikey
      in: header
x-tagGroups:
- name: Listening
  tags:
  - Listening Exports
  - Listening Search
  - Listening Analytics
  - Listening Streaming
  - Listening Search Management
- name: Explore+
  tags:
  - Explore+ Search
  - Explore+ Analytics
  - Explore+ Assets
- name: Social Analytics
  tags:
  - Owned Analytics
- name: Mira API
  tags:
  - Mira API
- name: Account
  tags:
  - Account Management
- name: Bring Your Own Content
  tags:
  - Bring Your Own Content (BYOC)
